App_WebReferences/brandk/UWPCSSEWebService2016.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="https://alpha.ion.uwplatt.edu/BrandK/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="https://alpha.ion.uwplatt.edu/BrandK/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="https://alpha.ion.uwplatt.edu/BrandK/">
      <s:element name="HelloWorld">
        <s:complexType />
      </s:element>
      <s:element name="HelloWorldResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="HelloWorldResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="WS_GetAllProducts">
        <s:complexType />
      </s:element>
      <s:element name="WS_GetAllProductsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="WS_GetAllProductsResult">
              <s:complexType>
                <s:sequence>
                  <s:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
                  <s:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="HelloWorldSoapIn">
    <wsdl:part name="parameters" element="tns:HelloWorld" />
  </wsdl:message>
  <wsdl:message name="HelloWorldSoapOut">
    <wsdl:part name="parameters" element="tns:HelloWorldResponse" />
  </wsdl:message>
  <wsdl:message name="WS_GetAllProductsSoapIn">
    <wsdl:part name="parameters" element="tns:WS_GetAllProducts" />
  </wsdl:message>
  <wsdl:message name="WS_GetAllProductsSoapOut">
    <wsdl:part name="parameters" element="tns:WS_GetAllProductsResponse" />
  </wsdl:message>
  <wsdl:portType name="UWPCSSEWebService2016Soap">
    <wsdl:operation name="HelloWorld">
      <wsdl:input message="tns:HelloWorldSoapIn" />
      <wsdl:output message="tns:HelloWorldSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="WS_GetAllProducts">
      <wsdl:input message="tns:WS_GetAllProductsSoapIn" />
      <wsdl:output message="tns:WS_GetAllProductsSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="UWPCSSEWebService2016Soap" type="tns:UWPCSSEWebService2016Soap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="HelloWorld">
      <soap:operation soapAction="https://alpha.ion.uwplatt.edu/BrandK/HelloWorld" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="WS_GetAllProducts">
      <soap:operation soapAction="https://alpha.ion.uwplatt.edu/BrandK/WS_GetAllProducts" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="UWPCSSEWebService2016Soap12" type="tns:UWPCSSEWebService2016Soap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="HelloWorld">
      <soap12:operation soapAction="https://alpha.ion.uwplatt.edu/BrandK/HelloWorld" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="WS_GetAllProducts">
      <soap12:operation soapAction="https://alpha.ion.uwplatt.edu/BrandK/WS_GetAllProducts" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="UWPCSSEWebService2016">
    <wsdl:port name="UWPCSSEWebService2016Soap" binding="tns:UWPCSSEWebService2016Soap">
      <soap:address location="https://alpha.ion.uwplatt.edu/brandk/UWPCSSEWebservice2016.asmx" />
    </wsdl:port>
    <wsdl:port name="UWPCSSEWebService2016Soap12" binding="tns:UWPCSSEWebService2016Soap12">
      <soap12:address location="https://alpha.ion.uwplatt.edu/brandk/UWPCSSEWebservice2016.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>